---
---
<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body class="post-template-default single single-post postid-14596 single-format-standard customizer-styles-applied highlander-enabled highlander-light">
		<div id="page" class="hfeed site">

			{% include header.html %}

			<div id="main" class="site-main">

				{% include primary.html %}

				{% include secondary.html %}

			</div><!-- #main .site-main -->

			{% include footer.html %}

		</div><!-- #page .hfeed .site -->

		{% include scripts.html %}

		{% include crufty-scripts.html %}
	</body>
</html>
