<article id="post-14596" class="post type-post status-publish format-standard hentry">
    <header class="entry-header">
        <div class="entry-meta">
            <a href="#" title="17:26" rel="bookmark">Today</a>
            <span class="byline"> by
                <span class="author vcard">
                    <a href="#">A Verysmart Person</a>
                </span>
            </span>
        </div><!-- .entry-meta -->
        <h1 class="entry-title" id="title"></h1>
    </header><!-- .entry-header -->
    <br><br>
    <div id="bullshit"></div>


</article><!-- #post-## -->
