<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        The words of one of our Leading Intellectuals, forced through a
        <a href="https://en.wikipedia.org/wiki/Markov_chain">Markov Chain</a> like coffee through a civet.
        <br>
        Content comes from an
        <a href='https://iamverysmartapi.herokuapp.com/redoc'>API</a>
        hosted on the Heroku free-tier so it may well have gone to sleep. Please be patient.
    </div>
</footer><!-- #colophon .site-footer -->
