<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        {{ site.subhead }}.
        <br>
        Content comes from an
        <a href='https://iamverysmartapi.herokuapp.com/redoc'>API</a>
        hosted on the Heroku free-tier so it may well have gone to sleep. Please be patient.
        <br>
        Built with
        {% for tool in site.data.tools %}
        <a href="{{ tool.url }}">{{ tool.name }}</a>
        {% if forloop.last == false %}
        ::
        {% endif %}
        {% endfor %}
    </div>
</footer><!-- #colophon .site-footer -->
