
<script>
    var api = "{{ site.api }}"

    var default_content = {{ site.data.default-content | jsonify }}

    var tags = {{ site.data.tags | jsonify }}
    var posted_in = {{ site.data.posted-in | jsonify }}.concat(tags).sort()
    posted_in.push("Fuck me this is a long, tedious list")

    function populate(data) {
        $('title').text(data.title)
        $("#title").text(data.title)

        $('#bullshit').empty()
        data.bullshit.forEach(function(para) {
            $('#bullshit').append(`<p>${para}</p>`)
        })

        $("#recents-list").empty()
        data.recents.forEach(function(recent) {
            $("#recents-list").append(`<li><a href="#recent-posts">${recent}</a></li>`)
        })
    }

    function update() {
        $.ajax({
            url: api,
            type: "GET",
            dataType: "json",
            timeout: 1000,
            success: function(response) { populate(response) },
            error: function(xmlhttprequest, textstatus, message) {
                populate(default_content)
            }
        })
    }

	function make_tags() {
        $('#tagcloud-list').empty()
		shuffleArray(tags).forEach(function(tag) {
			$('#tagcloud-list').append(`
            <a
                href="#tagcloud"
                class="tag-cloud-link"
                style="font-size: ${((Math.random() * 10) + 5)}pt">${tag}
            </a>
            `)
		})

        $('#tedious-list').append(posted_in.map(function(item) {return `<a href="#tedious-list" rel="category tag">${item}</a>`} ).join(', '))
	}

	function shuffleArray ( array ) {
        var counter = array.length, temp, index;
        // While there are elements in the array
        while ( counter > 0 ) {
            // Pick a random index
            index = Math.floor( Math.random() * counter );

            // Decrease counter by 1
            counter--;

            // And swap the last element with it
            temp = array[ counter ];
            array[ counter ] = array[ index ];
            array[ index ] = temp;
        }
        return array;
    }

    $( document ).ready(function() {
		make_tags()
        update()
    })
</script>
