<div id="secondary" class="updateable widget-area" role="complementary">
    <aside id="recent-posts" class="widget widget_recent_entries">
        <h1 class="widget-title">Recent posts</h1>
        <ul class='xoxo' id="recents-list"></ul>
    </aside>

    <aside id="blogroll" class="widget widget_links">
        <h1 class="widget-title">Blogroll</h1>
        <ul class='xoxo blogroll' id='blogroll-list'>
        {% for blog in site.data.blogroll %}
            <li>
                <a href="#blogroll">{{ blog }}</a>
            </li>
        {% endfor %}
        </ul>
    </aside>

    <aside id="tagcloud" class="widget wp_widget_tag_cloud">
        <h1 class="widget-title">Tags</h1>
        <div style="overflow:hidden" id="tagcloud-list"></div>
    </aside>
</div><!-- #secondary .widget-area -->
